/*.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.signup-form > *{
    margin-bottom: 20px;
    background-color:hsl(241, 91%, 45%);
} */

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .signup-form h1 {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 24px;
    text-align: center;
  }
  
  .signup-form .MuiFormControl-root {
    width: 100%;
  }
  
  .signup-form .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .signup-form .MuiInputLabel-root {
    color: #666666;
  }
  
  .signup-form .MuiOutlinedInput-root {
    background-color: #f5f5f5;
  }
  
  .signup-form .MuiOutlinedInput-notchedOutline {
    border-color: #cccccc;
  }
  
  .signup-form .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #999999;
  }
  
  .signup-form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #007bff;
  }
  
  .signup-form .MuiInputLabel-outlined.Mui-focused {
    color: #007bff;
  }
  
  .signup-form .MuiButton-root {
    width: 100%;
    color: #ffffff;
    background-color: #007bff;
  }
  
  .signup-form .MuiButton-root:hover {
    background-color: #0056b3;
  }
  
  .signup-form .MuiLink-root {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
  }
  